@charset "utf-8";
/*sıfırlama ayarları */
	* {
	  margin: 0;
	  padding: 0;
	
	}

/* body ayarları */
body {
  font-family: Arial, sans-serif;
  background-color: #0e0e0e;
  color: white;

}

/*navbar */
.navbar {
  position: sticky; /* üstte sabit kalıma */
  top: 0;
  background-color: #111;
  text-align: center;
  padding: 15px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	
	
}
	 .fade-up {
  opacity: 0;
  transform: translateY(30px); /* 30px aşağıdan başla */
  animation: fadeUp 2s ease-out forwards; /* 1 saniyede yavaşça çıksın */
}

/* Animasyon tanımı */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0); /* Yavaşça yerine gelsin */
  }
}

/* Banner resimi için */
.banner img {
  width: 100%; /* Sayfa genişliğini kaplasın */
  height: auto;
  max-height: 680px;
  object-fit: cover;
}

/*2'li düzen*/
.agent-row {
  display: grid; /* Izgara düzeni */
  grid-template-columns: repeat(4, 1fr); /* 4 sütun: ajan, link, ajan, link */
  gap: 15px;
  padding: 30px;
  align-items: center;
}

/* Ajan yerleri*/
.agent-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}
.agent-card img {
  width: 100%;
  border-radius: 6px;
}
.agent-card:hover {
  transform: scale(1.05); /* Üzerine gelince büyüsün */
}

/* baska siteye atıcak baglantılar */
.link {
  color: red;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}
.link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #111;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
	}
		/* Responsive */
 @media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

}


